/* .password-wrapper {
    position: relative;
  }
  
  .password-wrapper input {
    width: 100%;
    padding-right: 40px; 
  }
  
  .password-toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
  }
  
  .password-toggle-btn i {
    font-size: 18px;
  } */