<!-- <div class="container">
  <div class="row">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <div class="password-wrapper">
          <input 
            [type]="showCurrentPassword ? 'text' : 'password'" 
            id="currentPassword" 
            formControlName="currentPassword" 
            class="form-control"
          >
          <span class="password-toggle-btn" (click)="toggleCurrentPasswordVisibility()">
            <i class="fas" [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
        <app-common-validation controlName="currentPassword" [formGroup]="changePasswordForm" [formSubmitted]="formSubmitted"></app-common-validation>
      </div>

      <div class="form-group mt-2">
        <label for="newPassword">New Password</label>
        <div class="password-wrapper">
          <input 
            [type]="showNewPassword ? 'text' : 'password'" 
            id="newPassword" 
            formControlName="newPassword" 
            class="form-control"
          >
          <span class="password-toggle-btn" (click)="toggleNewPasswordVisibility()">
            <i class="fas" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
        <app-common-validation controlName="newPassword" [formGroup]="changePasswordForm" [formSubmitted]="formSubmitted"></app-common-validation>
      </div>

      <div class="form-group mt-2">
        <label for="confirmPassword">Confirm Password</label>
        <div class="password-wrapper">
          <input 
            [type]="showConfirmPassword ? 'text' : 'password'" 
            id="confirmPassword" 
            formControlName="confirmPassword" 
            class="form-control"
          >
          <span class="password-toggle-btn" (click)="toggleConfirmPasswordVisibility()">
            <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
        <app-common-validation controlName="confirmPassword" [formGroup]="changePasswordForm" [formSubmitted]="formSubmitted"></app-common-validation>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
  </div>
</div>   -->